* {
    box-sizing: border-box;
}
.encabezado {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:  sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}
#eimg {
    height: 60px;
    width: 100px;
    margin: 20px;
}
.e2b {
    background-color: white;
    border: none;
    cursor: pointer;
    font-family: SFMono-Medium,"SF Mono","Segoe UI Mono","Roboto Mono","Ubuntu Mono",Menlo,Consolas,Courier,monospace;
    width: 50px;
    height: 50px;
    font-size: medium;
}
.e2b:hover {
    background-color: lightgray;
    border-radius: 10px;
    
}
.e3b {
    background-color: white;
    border: none;
    cursor: pointer;
    font-family: SFMono-Medium,"SF Mono","Segoe UI Mono","Roboto Mono","Ubuntu Mono",Menlo,Consolas,Courier,monospace;
    width: 100px;
    height: 50px;
    font-size: medium;
}
.e3b:hover {
    background-color: lightgray;
    border-radius: 10px;
    
}
.e4f {
    border: 2px solid lightgray;
    width: 950px;
    height: 50px;
    border-radius: 20px ;
    cursor: pointer;
    font-size: medium;
}
.e5b {
    background-color: lightgray;
    width: 140px;
    height: 50px;
    font-family: SFMono-Medium,"SF Mono","Segoe UI Mono","Roboto Mono","Ubuntu Mono",Menlo,Consolas,Courier,monospace;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: medium;
}
.e5b:hover {
    background-color: gray;
}
.e6b {
    background-color: red;
    border: none;
    height: 50px;
    width: 140px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: medium;
}
.Puente {
    display: flex;
    height: 140px;
    justify-content: center;
    flex-direction: column;
}
.p1 {
    display: flex;
    justify-content: center;
}
.p1h {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.p2 {
    display: flex;
    justify-content: center;
}
.p2b {
    background-color: lightgray;
    height: 50px;
    font-family: SFMono-Medium,"SF Mono","Segoe UI Mono","Roboto Mono","Ubuntu Mono",Menlo,Consolas,Courier,monospace;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: medium;
}
.p2b:hover {
    background-color: gray;
}
.flex-fotos {
    display: flex;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: repeat(auto-fill, 230px);
}
.gg{
    width: 100%;
    padding: 0px;
    border-radius: 20px;
}
.gg:hover {
    opacity: 65%;
    cursor: pointer;
}
.gh {
    flex: 25%;
    padding: 5px;
}